<form [formGroup]="form" class="mt-5 relative">
    @if (label){
    <span class="mb-2 not-italic font-semibold text-lg flex items-center text-gray-2">{{ label }}</span>
    }


    <div class="flex items-center gap-3">
        @if(mostrarToogle){
        <p-inputSwitch [(ngModel)]="inicialToogle" (onChange)="alterarToogle($event.checked)" [ngModelOptions]="{standalone: true}"></p-inputSwitch>
        }

        <span class="p-float-label w-full">
            <p-inputNumber [id]="formControlName" [formControlName]="formControlName" inputId="integeronly" [showButtons]="true" [max]="max"
                [prefix]="prefix"></p-inputNumber>

            <label for="{{ formControlName }}" class="font-medium text-gray-3">{{
                placeholder
                }}</label>
        </span>
    </div>

    @if( form.get(formControlName)?.hasError('required') &&
    (form.get(formControlName)?.touched || form.get(formControlName)?.dirty) ){
    <small class="text-c-error font-bold absolute right-0">
        {{ "Campo requerido" }}</small>
    } @if(form.get(formControlName)?.errors &&
    !form.get(formControlName)?.hasError('required')){
    <small class="text-c-error font-bold absolute right-0">
        {{ "Campo inválido" }}
    </small>
    }
</form>
