<form [formGroup]="form" class="mt-5 relative">
  @if (label){
  <span
    class="not-italic font-semibold text-lg flex items-center text-gray-2"
    >{{ label }}</span
  >
  }

  <span class="p-float-label w-full">
    <p-password
      [feedback]="false"
      class="w-full font-league"
      id="{{ formControlName }}"
      [formControlName]="formControlName"
      [toggleMask]="true"
    >
    </p-password>
    <label for="{{ formControlName }}" class="font-league text-[1.25rem] text-primary-color">{{
      placeholder
    }}</label>
  </span>

  @if( form.get(formControlName)?.hasError('required') &&
  (form.get(formControlName)?.touched || form.get(formControlName)?.dirty) ){
  <small class="text-c-error text-xs font-league absolute right-0">
    {{ "Campo requerido" }}</small
  >
  }
  <!-- @if(form.get(formControlName)?.errors &&
  !form.get(formControlName)?.hasError('required')){
  <small class="text-c-error font-bold absolute right-0">
    {{ "Senha não conferem" }}
  </small>
  } -->
</form>
