<form [formGroup]="form" class="mt-5 relative">
  @if(label){
  <span
    class="not-italic font-semibold text-lg flex items-center text-gray-2"
    >{{ label }}</span
  >
  }
  <span class="p-float-label">
    <p-calendar
      formatDate
      [disabled]="form.get(formControlName)!.disabled"
      [formControlName]="formControlName"
      [showIcon]="true"
      dateFormat="dd/mm/yy"
      [ngClass]="{
        'ng-invalid ng-dirty ':
          form.get(formControlName)?.errors &&
          (form.get(formControlName)?.touched ||
            form.get(formControlName)?.dirty)
      }"
    ></p-calendar>

    <label for="{{ formControlName }}" class="font-medium text-gray-3">{{
      placeholder
    }}</label>
  </span>

  @if( form.get(formControlName)?.errors && (form.get(formControlName)?.touched
  || form.get(formControlName)?.dirty) ){
    <small class="text-c-error font-bold absolute right-0">
      {{(form.get(formControlName)?.errors?.['menorQueDezoito'] ? 'Menor de 18 anos' : 'Campo requerido') }}
    </small>
  }
</form>
