<form [formGroup]="form" class="mt-5 relative">
  @if (label){
  <span class="mb-2 not-italic font-semibold text-lg flex items-center text-gray-2">{{label}}</span>
  }


  <div class="flex items-center gap-3">
    @if(mostrarToogle){
    <p-inputSwitch [(ngModel)]="inicialToogle" (onChange)="alterarToogle($event.checked)" [ngModelOptions]="{standalone: true}"></p-inputSwitch>
    }

    <span class="p-float-label w-full">
      <input id="{{formControlName}}" type="text" [mask]="mask" pInputText [formControlName]="formControlName"
        [ngClass]="{
        'ng-invalid ng-dirty ': form.get(formControlName)?.errors && (form.get(formControlName)?.touched || form.get(formControlName)?.dirty)
      }" />
      <label for="{{formControlName}}" class="font-league text-[1.25rem] text-primary-color">{{
        placeholder
        }}</label>
    </span>
  </div>


  @if( form.get(formControlName)?.hasError('required') && (form.get(formControlName)?.touched
  || form.get(formControlName)?.dirty) ){
  <small id="{{formControlName+'obrigatorio'}}" class="text-c-error font-league text-xs absolute right-0 ">
    {{ "Campo requerido" }}</small>
  }

  @if(form.get(formControlName)?.errors && !form.get(formControlName)?.hasError('required')){
  <small id="{{formControlName+'invalido'}}" class="text-c-error font-league text-xs absolute  right-0">
    {{'Campo inválido'}} </small>
  }
</form>
