<div class="w-full h-full flex animacao justify-center font-league  items-center p-10">

  <div class="flex gap-4 card p-14 backdrop-blur-3xl w-[40rem]">
    <div class="w-full flex flex-col items-center  z-20 ">
      <span class="text-center text-white/80 text-6xl font-Braton">Cadastro</span>
      <span class="text-center  text-white/80 text-lg">Já possui uma conta?
        <span routerLink="/login" class="text-primary-color-2 hover:text-primary-color transition-all cursor-pointer">Acesse aqui</span></span>
      <form [formGroup]="form" class="w-full mt-4 gap-4">
        @for(linha of estrututaFormCadastro; track $index ){
        <div [class]="linha.className">
          @for(campo of linha.linha; track $index ){
          <div [class]="campo.className">
            <app-campo [type]="campo.type" [formControlName]="campo.formControlName" [placeholder]="campo.placeholder"
              [form]="form" [options]="campo.options" [mask]="campo.mask" [label]="campo.label"></app-campo>
          </div>
          }
        </div>
        }
      </form>

      <div
      class="transition-all duration-300 font-semibold gap-x-4 grid grid-cols-2 justify-start overflow-hidden lg:text-start text-sm mt-4"
      [ngClass]="validarSenha.verificarSenha ? 'h-20 w-full' : 'h-0 '">
      <span class="transition-all" [ngClass]="
          validarSenha.naoCoincidem ? 'text-c-success' : 'text-c-error'
        ">Senhas não coincidem</span>
      <span class="transition-all" [ngClass]="
          validarSenha.oitoCaracteres ? 'text-c-success' : 'text-c-error'
        ">Ao menos 8 caracteres</span>
      <span class="transition-all" [ngClass]="
          validarSenha.letraMaiuscula ? 'text-c-success' : 'text-c-error'
        ">Ao menos 1 letra maiúscula</span>
      <span class="transition-all" [ngClass]="
          validarSenha.letraMinuscula ? 'text-c-success' : 'text-c-error'
        ">Ao menos 1 letra minúscula</span>
      <span class="transition-all" [ngClass]="validarSenha.numero ? 'text-c-success' : 'text-c-error'">        Ao menos um número</span>
      <span class="transition-all" [ngClass]="
          validarSenha.caracterEspecial ? 'text-c-success' : 'text-c-error'
        ">Ao menos um caractere especial</span>
    </div>

      <div class="flex flex-col gap-2 w-full mt-6 text-xl">

        <button routerLink="/interno" [disabled]="form.invalid" role="button"
          class="primary-button w-full py-2 h-[3.3rem]"> Cadastrar </button>
      </div>

      <div class="relative w-full flex justify-center items-center  drop-shadow-2xl opacity-80 mt-10">
        <span class="z-10 text-white text-6xl">byron <br> legends</span>
        <span class="absolute  ml-[10.7rem]  top-6 text-2xl text-white">Of</span>
      </div>
    </div>

  </div>

</div>
